statsmodels
folium
shapely
scipy
geopandas
fastapi[standard]
html2text
uvicorn
asyncpg
httpx
python-jose
pyjwt
python-dotenv
requests
pandas
numpy
matplotlib
seaborn
networkx
pillow
opencv-python
openai
scikit-learn
python-multipart
pyarrow
playwright
beautifulsoup4
